#send-button {
}

.infos {
    display: inline-block;
}

.button {
    display: inline-block;
}

.hidden {
    display: none;
}

.fl {
    float: left;
}

.ib {
    display: inline-block;
}