.container {
  background-color: gainsboro;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-align: center;
}

.lecture_box {
  width: 20%;
  margin: 0 auto;
  margin: 20px;
  border: 2px solid gray;
  background-color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  float: left;
}
.lecture_box:hover {
  transition: all 0.1s linear;
  transform: scale(1.1);
  box-shadow: 1px 1px 20px black;
}

.explain-box {
  padding: 5%;
  text-align: left;
}

.lecture_picture {
  width: 100%;
  height: 50%;
}

.lecture_number {
  font-size: smaller;
  margin: 0%;
  padding: 0%;
}

.lecture_name {
  margin: 0%;
  padding: 0%;
}

.infos {
  width: 100%;
}

.professor {
  width: 70%;
  float: left;
  font-size: smaller;
  margin: 0%;
  padding: 0%;
}

.team_course {
  width: 60%;
  float: left;
  text-align: left;
  font-size: smaller;
  margin: 0%;
  padding: 0%;
  text-decoration: underline;
  color: blue;
}

.dummy {
  float: right;
  height: 30px;
  margin: 0 auto;
}

.i-img {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../img/i.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.star-img {
  width: 20px;
  height: 20px;
  border: none;
  background: url(../img/star.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .lecture_box {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  .lecture_box {
    width: 90%;
  }
}
